body {
  font-family: 'Raleway', sans-serif;
}

h1, h2 {
  width: 1280px;
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
}

.container {
  width: 1280px;
  margin: 0 auto;
  display: flex;
}

.visual-datetime-view {
  position: relative;
  display: block;
  -moz-appearance: textfield;
  -webkit-appearance: textfield;
  border: 1px solid darkgray;
  box-shadow: 1px 1px 1px 0 lightgray inset;
  border-radius: 3px;
  padding: 10px;
  height: 40px;
}

.visual-datetime-view b {
  font-size: 1.1em;
}

.visual-datetime-view span {
  color: #969696;
  font-size: 0.95em;
}

.visual-datetime-clear {
  float: right;
}
.input-container {
  order:1;
  margin-left: 10px;
  min-width: 300px;
}
